<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Furniture</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    >
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark ">
        <div class="container">
            @Html.ActionLink("Furniture store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="more options" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <link href="@Url.Content("~/Content/navbar.css")" rel="stylesheet" type="text/css" />
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between navbar">
                <ul class="navbar-nav flex-grow-1 navbar">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Category", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Product", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        <div class="input-group">
                            @Html.TextBox("Search", null, new { @class = "form-control", @placeHolder = "Search Products" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </span>
                        </div>
                    </div>                    
                }
            </div>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Furniture</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
