@{
    ViewBag.Title = "Home Page";
}
<main>
    <div class="imgBox">
        <img class="img-slide img-fade-in img1" src="https://img1.baidu.com/it/u=4115605377,3706906632&fm=253&fmt=auto&app=138&f=JPEG?w=796&h=500" alt="1">
        <img class="img-slide img-fade-in img2" src="https://img1.baidu.com/it/u=1354709035,351195238&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500" alt="2">
        <img class="img-slide img-fade-in img3" src="https://img2.baidu.com/it/u=2582316827,1290679547&fm=253&fmt=auto&app=120&f=JPEG?w=1198&h=800" alt="3">
        <link href="@Url.Content("~/Content/image1.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/image1.js")" rel="javascript" type="text/javascript" />
    </div>

    <div class="container">
        <link href="@Url.Content("~/Content/container.css")" rel="stylesheet" type="text/css" />
        <div class="geolocation-container">
            <link href="@Url.Content("~/Content/geolocation-container.css")" rel="stylesheet" type="text/css" />
            <h3 class="headsettings">Price</h3>
            <link href="@Url.Content("~/Content/headsettings.css")" rel="stylesheet" type="text/css" />
            <p class="p1container">
                Our furniture prices vary according to different quality, style and size.
                We offer a range of pricing options to suit the needs of different budgets.
                Whether you are looking for luxury furniture or an economical option,
                we can provide you with a product you are satisfied with.
            </p>
            <link href="@Url.Content("~/Content/p1container.css")" rel="stylesheet" type="text/css" />
            <h3 class="headsettings">History</h3>
            <link href="@Url.Content("~/Content/headsettings.css")" rel="stylesheet" type="text/css" />
            <p class="geolocation-container3">
                Founded in 1870 by visionary entrepreneur Joseph Coleman, J.Coleman Furniture has stood the test of time,
                providing quality furniture and exceptional service to generations of customers.

                Born into a family of woodworkers, Joseph Coleman had a deep appreciation for the craftsmanship and beauty of furniture.
                At the age of 25, he opened his first store in a small Massachusetts town, selling handmade furniture made by local craftsmen.

                Under Joseph's guidance, the company thrived, becoming a leading purveyor of fine furniture in the region.
                As the demand for his products grew, Joseph Coleman Furniture expanded, opening additional stores in neighboring states.

                For over a century, J.Coleman Furniture has remained committed to its founding principles of craftsmanship, quality, and customer service.
                The company's furniture is still handmade using traditional techniques and the finest woods available.
                The company's reputation for excellence has been built on the backs of generations of skilled craftsmen,
                whose attention to detail and unwavering commitment to quality have set J.Coleman Furniture apart from the rest.

                In 2023, J.Coleman Furniture celebrates its 150th anniversary, a testament to its unwavering commitment to quality and customer satisfaction.
                The company's legacy lives on through its products and the many stories they hold.
                From its humble beginnings as a small storefront to its current status as a regional fixture,
                J.Coleman Furniture has always been about more than just selling furniture - it's about creating an experience that lasts a lifetime.
            </p>
            
            <link href="@Url.Content("~/Content/geolocation-container3.css")" rel="stylesheet" type="text/css" />
        </div>
        <div class="geolocation-container2">
            <link href="@Url.Content("~/Content/geolocation-container2.css")" rel="stylesheet" type="text/css" />
            <h3 class="headsettings">Quality</h3>
            <link href="@Url.Content("~/Content/headsettings.css")" rel="stylesheet" type="text/css" />
            <p class="p1container">
                The furniture in the store is made of high quality materials.
                Different furniture uses different materials,
                such as solid wood, metal, glass, leather, etc.
                We pay attention to detail and environmental protection,
                so our furniture is both durable and environmentally friendly.
                At the same time, we know the importance of quality, so we only provide the highest quality furniture.
                Our furniture goes through strict quality control to ensure the quality of every product.
                In addition, our furniture has a warranty period, so that you have no worries.
            </p>
            <link href="@Url.Content("~/Content/p1container.css")" rel="stylesheet" type="text/css" />
        </div>
    </div>
    <div class="flex-container">
        <p class="fontsetting1">Style recommendation</p>
        <link href="@Url.Content("~/Content/fontsetting1.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Font1.css")" rel="stylesheet" type="text/css" />
    </div>

    <div class="background">
        <div class="white-border">
            <p class="content2"><a href="https://cn.bing.com/images/search?q=%e6%97%a5%e5%bc%8f%e5%ae%b6%e5%85%b7&form=HDRSC3&first=1">Japanese style</a></p>
        </div>
        <div class="white-border">
            <p class="content2"><a href="https://cn.bing.com/images/search?q=%E6%AC%A7%E5%BC%8F%E5%AE%B6%E5%85%B7&qs=n&form=QBIR&sp=-1&lq=0&pq=%E6%AC%A7%E5%BC%8F%E5%AE%B6%E5%85%B7&sc=10-4&cvid=1BCD9FACBB3748C3BFA2835DF88EC9D7&ghsh=0&ghacc=0&first=1">European style</a></p>
        </div>
        <div class="white-border">
            <p class="content2"><a href="https://cn.bing.com/images/search?q=%E4%B8%AD%E5%BC%8F%E5%AE%B6%E5%85%B7&qs=n&form=QBIR&sp=-1&lq=0&pq=%E4%B8%AD%E5%BC%8F%E5%AE%B6%E5%85%B7&sc=10-4&cvid=A5998799A1FE43409B9A82D72122E8A1&ghsh=0&ghacc=0&first=1">Chinese style</a></p>
        </div>
        <link href="@Url.Content("~/Content/background.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/content2.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/white-border.css")" rel="stylesheet" type="text/css" />
    </div>
    <div class="flex-container">
        <p class="fontsetting1">Seasonal sales</p>
        <link href="@Url.Content("~/Content/fontsetting1.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Font1.css")" rel="stylesheet" type="text/css" />
    </div>


    <div class="image-container">
        <img src="https://img0.baidu.com/it/u=275884174,3355543790&fm=253&fmt=auto?w=800&h=871" alt="Closet">
        <img src="https://img2.baidu.com/it/u=389089343,648369218&fm=253&fmt=auto?w=800&h=800" alt="Sofa">
        <img src="http://t15.baidu.com/it/u=2924721950,454030173&fm=224&app=112&f=JPEG?w=500&h=500" alt="Table">
        <link href="@Url.Content("~/Content/image-container.css")" rel="stylesheet" type="text/css" />
    </div>


    <div class="contact-info">
        <p>
            Contact Us:<br>
            Phone: 11111111<br>
            Email: <a href="mailto:1036293231@qq.com">1036293231@qq.com</a><br>
            Address: Main Street 151<br>
        </p>
        <link href="@Url.Content("~/Content/contact-info.css")" rel="stylesheet" type="text/css" />
    </div>
</main>